*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background-color: antiquewhite;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#titulo{
    font-size: 2rem;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}
/*Content de los botones*/
#content-boton{
    width: 50%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
#content-boton a{
    padding: 15px;
    width: 8%;
    height: 50px;
    border-radius: 10px;
}
/*Color de cada boton*/
#bton-piedra{
    background-color: brown;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bton-papel{
    background-color: blueviolet;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bton-tijera{
    background-color: rgb(0, 81, 255);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bton-piedra:hover{
    background-color: rgb(117, 40, 40);
}

#bton-papel:hover{
    background-color: rgb(87, 44, 128);
}
#bton-tijera:hover{
    background-color: rgb(0, 39, 124);
}
/*Tamano de imagenes*/
.iconones{
    width: 100%;
}

/*content- de rondas ganadas*/

#content-rondaGa{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
#content-rondaGa p{
    font-size: 1.2rem;
}
#ganadoruser{
    color:#ee2d2d;
}
#ganadormaquina{
    color: #0000ff;
}